@font-face {
    font-family: BigJohn;
    src: url(/fonts/BIG JOHN.otf);
}

*{
    outline: none;
}
.center{
    text-align: center;
}
.inside{
    display: table-cell;
    vertical-align: middle;
}

.headRow{
    background: url('../img/main_bckgr.jpg');
    background-size: cover;
}
.navbar{
    background: transparent;
    border: 0;
    margin-top: 30px;
}
.brand{
    text-transform: uppercase;
    font-family: BigJohn, sans-serif;
    font-size: 18pt;
    font-weight: 900;
}
.navbar-default .navbar-brand{
    color: #fff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
    color: #fff;
}
.navbar-default .navbar-nav>li>a{
    color: #fff;
    font-size: 12pt;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    padding: 5px 20px;
    border: 1px solid transparent;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    border: 1px solid #fff;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    color: #fff;
    background: transparent;
}
.navbar-nav{
    margin-top: 9px;
}
.headRow .info{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12pt;
    color: #fff;
    padding-top: 180px;
    padding-bottom: 200px;
    letter-spacing: 1px;
}
.headRow .info .title{
    font-size: 23pt;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    letter-spacing: 9px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.headRow .arrowDown i{
    color: #fff;
    background: #19bd9a;
    padding: 8px 12px 8px 12px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 15pt;
    margin-bottom: 75px;
    cursor: pointer;
}

.aboutRow{
    background: #f3f3f3;
    padding: 75px 0 100px;
}
.section-title{
    color: #333b46;
    font-size: 15pt;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.section-description{
    color: #81868e;
    font-size: 10.5pt;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.about-tabs{
    border-bottom: 0;
    width: 209px;
    margin: 50px auto;
}
.about-tabs>li>a{
    border: 0;
    padding: 0;
    background: #81868e;
    width: 53px;
    line-height: 53px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 25px;
}
.about-tabs>li:last-child>a{
    margin-right: 0;
}
.about-tabs>li>a:hover, .about-tabs>li>a:focus{
    background: #19bd9a;
}
.about-tabs>li.active>a, .about-tabs>li.active>a:focus, .about-tabs>li.active>a:hover{
    background: #19bd9a;
    border: 0;
}
.about-tabs>li>a img{
    max-width: 26px;
    max-height: 30px;
}
.about-tab-content{
    text-align: left;
    font-size: 12pt;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #81868e;
}
.about-tab-content .Title{
    color: #464646;
    font-size: 15pt;
}
.about-tab-content .bolder{
    color: #636971;
    font-weight: 700;
}
.about-tab-content .colored{
    color: #19bd9a;
    font-weight: 700;
}
.about-tab-content .first-column{
    padding-right: 40px;
}
.about-tab-content .second-column{
    padding-left: 15px;
    padding-right: 10px;
}
.about-tab-content img{
    max-width: 100%;
    height: auto;

}

.fpTitleRow{
    padding: 75px 0 60px;
}

.fpProjectsRow .project{
    height: 319px;
    position: relative;
}
.project .overlay{
    display: table;
    width: 100.1%;
    position: absolute;
    background: rgba(0, 0, 0, 0.85);
    left: 0;
    height: 100%;
}
.project .overlay .pName{
    font-size: 15pt;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.project .overlay .plus{
    display: none;
    margin: 0 auto;
}
.invert-image{
    webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.fpBottomRow{
    background: url('../img/fpBottomBckgr.jpg');
    background-size: cover;
    font-size: 14pt;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    padding: 40px 0;
}
.fpBottomRow span{
    line-height: 34px;
}
.fpBottomRow a{
    float: right;
    color: #fff;
    text-decoration: none;
    font-size: 12pt;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #fff;
    padding: 5px 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.servicesRow{
    background: #fff;
}
.servTabsRow{
    margin-top: 50px;
}
.serv-tabs{
    width: auto;
    margin: 0;
}
.serv-tabs li{
    float: none;
    display: block;
}
.serv-tabs li a{
    text-align: center;
    margin-right: 0;
    margin-bottom: 15px;
}

.portfolio-tabs{
    border-bottom: 0;
    display: inline-block;
    margin-top: 70px;
}
.portfolio-tabs li{
    margin-right: 30px;
}
.portfolio-tabs li:last-child{
    margin-right: 0;
}
.portfolio-tabs li a{
    color: #464646;
    font-size: 12pt;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 0;
}
.portfolio-tabs>li.active>a, .portfolio-tabs>li.active>a:focus, .portfolio-tabs>li.active>a:hover{
    color: #464646;
    background: transparent;
    border: 0;
}
.portfolio-tabs li hr{
    width: 40px;
    border-top: 1px solid #19bd9a;
    display: none;
    margin-top: 10px;
    margin-bottom: 5px;
}
.portfolio-tabs li.active hr{
    display: block;
}


.teamRow{
    background: #fff;
}
.teamSliderRow{
    margin-top: 60px;
}
.team-slider .item img{
    float: left;
    max-width: 285px;
    max-height: 365px;
}

.team-slider .info{
    float: right;
    max-width: 430px;
    padding-top: 25px;
}
.team-slider .info .worker-info{
    border-right: 4px solid #19bd9a;
    text-align: right;
    padding-right: 40px;
}
.team-slider .info .worker-info .name{
    color: #464646;
    font-size: 15pt;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 5px;
    
}
.team-slider .info .worker-info .position{
    margin-bottom: 0;
    color: #81868e;
    font-size: 10.5pt;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-style: italic;
    line-height: 15px;
}
.team-slider .info .desc{
    text-align: right;
    color: #81868e;
    font-size: 10.5pt;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 30px;
    
}
.team-slider .skills{
    margin-top: 45px;
}
.team-slider .skill{
    width: 330px;
    margin: 0 auto;
    font-size: 12pt;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    margin-bottom: 30px;
}
.team-slider .skill:last-child{
    margin-bottom: 0;
}
.team-slider .skill .percent{
    float: right;
}
.team-slider .skill hr{
    margin: 5px 0;
    border-width: 4px 330px 0px 0px;
    border-style: solid;
/*
    -webkit-border-image: -webkit-linear-gradient(right, #19bd9a 0%, #19bd9a 50%, #e1e4e9 50%, #e1e4e9 100%);
    -moz-border-image: -moz-linear-gradient(right, #19bd9a 0%, #19bd9a 50%, #e1e4e9 50%, #e1e4e9 100%);
    -o-border-image: -o-linear-gradient(right, #19bd9a 0%, #19bd9a 50%, #e1e4e9 50%, #e1e4e9 100%);
    border-image: linear-gradient(to right, #19bd9a 0%, #19bd9a 50%, #e1e4e9 50%, #e1e4e9 100%);
*/
}

.teamSliderRow .lSSlideOuter .lSPager.lSpg{
    margin-top: 50px !important;
}
.teamSliderRow .lSSlideOuter .lSPager.lSpg>li a {
    background-color: transparent;
    border: 1px solid #19bd9a;
    width: 10px;
    height: 10px;
}
.teamSliderRow .lSSlideOuter .lSPager.lSpg>li.active a, .teamSliderRow .lSSlideOuter .lSPager.lSpg>li:hover a {
    background-color: #19bd9a;
}


.blogRow{
    background: linear-gradient(#000, transparent), url('../img/news-bckgr.jpg');
    padding: 75px 0 100px;
}
.blogRow .section-title{
    color: #fff;
}
.blogRow .section-description{
    color: #b2b3b3;
}

.blogSliderRow{
    margin-top: 90px;
}

.blog-slider .item .title{
    font-size: 15pt;
    color: #e1e4e9;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.blog-slider .item .author{
    color: #81868e;
    font-size: 10.5pt;
    font-family: 'Source Sans Pro';
    font-weight: 300;
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 10px;
    
}
.blog-slider .item .author_name{
    color: #19bd9a;
}
.blog-slider .item .comments{
    color: #464646;
    font-size: 10.5pt;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    margin-bottom: 50px;
}
.blog-slider .item .text{
    max-width: 585px;
    color: #81868e;
    font-size: 10.5pt;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 50px;
}
.blog-slider .item .read_more{
    color: #b2b3b3;
    font-size: 11pt;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.blogSliderRow .lSSlideOuter .lSPager.lSpg{
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    max-height: 100%;
    position: absolute;
    right: 0;
    top: 28%;
}
.blogSliderRow .lSSlideOuter .lSPager.lSpg>li a {
    background-color: transparent;
    border: 1px solid #b2b3b3;
    width: 10px;
    height: 10px;
}
.blogSliderRow .lSSlideOuter .lSPager.lSpg>li.active a, .blogSliderRow .lSSlideOuter .lSPager.lSpg>li:hover a {
    background-color: #b2b3b3;
}

.contactRow{
    padding-top: 130px;
    padding-bottom: 130px;
}
.contactRow .form-group{
    float: left;
    margin-right: 45px;
    margin-bottom: 30px;
}
.contactRow form .form-group:last-of-type{
    margin-right: 0;
}
.contactRow input[type="text"]{
    width: 285px;
    border: 1px solid #d8dce0;
    padding: 9px 15px;
}
.contactRow textarea{
    display: block;
    width: 100%;
    resize: none;
    height: 190px;
    border: 1px solid #d8dce0;
    padding: 9px 15px;
}
.contactRow input[type="submit"]{
    width: 100%;
    background: #19bd9a;
    border: 0;
    padding: 15px 0;
    text-transform: uppercase;
    font-size: 12pt;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 30px;
}
label.error{
    display: block;
    color: red;
    font-size: 9pt;
}

.mapRow{
    position: relative;
}
#map{
    width: 100%;
    height: 500px;
}
.mapOverlay{
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.85);
    display: table;
}
.mapOverlay span{
    font-size: 12pt;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.mapOverlay i{
    color: #fff;
    background: #19bd9a;
    padding: 3px 6px 3px 5px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
}

footer{
    color: #81868e;
    font-size: 10.5pt;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    padding: 75px 0 85px;
}
.footer .name{
    color: #323a45;
}
footer .social{
    padding-top: 15px;
}
footer .social a{
    margin-right: 10px;
    text-decoration: none;
}
footer .social i{
    width: 26px;
    color: #fff;
    padding: 6px 0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
}
footer .social a:last-child{
    margin-right: 0;
}
footer .social .fa-facebook{
    background: #3b5998;
}
footer .social .fa-twitter{
    background: #26a6d1;
}
footer .social .fa-linkedin{
    background: #0e76a8;
}
footer .social .fa-instagram{
    background: #3f729b;
}
footer .social .fa-vimeo{
    background: #86c9ef;
}

.alignnone{
    margin: 0;
}


@media screen and (min-width: 320px) and (max-width: 767px){
    .navbar-nav{
        position: absolute;
        background: #19bd9a;
        width: 100%;
        margin-top: 0;
        z-index: 1;
    }
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
        border: 0; 
        -moz-border-radius: 0;
        -webkit-border-radius: 0; 
        border-radius: 0; 
    }
    .navbar-collapse{
        border-top: 0;
    }
    .headRow{
        background-size: cover;
    }
    .navbar-default .navbar-nav>li>a{
        padding: 10px 20px;
    }
    .headRow .info{
        font-size: 9pt;
    }
    .headRow .info .title{
        font-size: 20pt;
        margin-bottom: 10px;
    }
    .aboutRow {
        padding: 15px 0 20px;
    }
    .fpTitleRow {
        padding: 15px 0 20px;
    }
    .fpProjectsRow .project {
        height: 200px;
    }
    .fpBottomRow {
        padding: 6px 0;
        text-align: center;
    }
    .fpBottomRow span {
        line-height: 22px;
    }
    .fpBottomRow a{
        padding: 0 15px;
    }
    .teamSliderRow {
        margin-top: 15px;
    }
    .team-slider .item img, .team-slider .item .info{
        float: none;
        margin: 0 auto;
    }
    .team-slider .skills {
        margin-top: 35px;
    }
    .team-slider .skill {
        width: 300px;
        margin-bottom: 15px;
    }

    .contactRow {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    footer{
        padding: 25px 0 35px;
    }
    .blogRow{
        background-size: cover;
    }
    .blogSliderRow {
        margin-top: 10px;
    }
    .contactRow .form-group{
        margin-right: 0;
        width: 100%;
    }
    .contactRow input[type="text"] {
        width: 100%;
    }
    .team-slider .info{
        width: 300px;
    }
    .team-slider .skill hr {
        border-width: 4px 300px 0px 0px;
    }
    .team-slider li{
        text-align: center;
    }
    .headRow .info{
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .headRow .arrowDown i{
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 320px) and (max-width: 359px){
    
}

@media screen and (min-width: 360px) and (max-width: 479px){
    
}

@media screen and (min-width: 480px) and (max-width: 767px){
    
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .navbar-default .navbar-nav>li>a{
        padding: 2px 10px;
    }
    .navbar-nav {
        margin-top: 12px;
    }
    .headRow .info {
        padding-top: 60px;
        padding-bottom: 67px;
    }
    .headRow .arrowDown i{
        margin-bottom: 30px;
    }
    .aboutRow {
        padding: 30px 0 50px;
    }
    .fpTitleRow {
        padding: 30px 0 30px;
    }
    .fpProjectsRow .project {
        height: 182px;
    }
    .fpBottomRow{
        font-size: 12pt;
    }
    .fpBottomRow a{
        font-size: 11pt;
    }
    .blogRow{
        padding: 30px 0 50px;
        background-size: cover;
    }
    .blogSliderRow {
        margin-top: 40px;
    }
    .contactRow {
        padding-top: 65px;
        padding-bottom: 65px;
    }
    .contactRow .form-group {
        margin-right: 20px;
    }
    .contactRow input[type="text"] {
        width: 226px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    .contactRow .form-group {
        margin-right: 42px;
    }
    .contactRow .form-group:last-child {
        margin-right: 0;
    }
}